<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sums.dao.EnrollmentMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sums.entity.Enrollment">
        <id column="enrollment_id" property="enrollmentId" />
        <result column="me_id" property="meId" />
        <result column="me_name" property="meName" />
        <result column="faculty" property="faculty" />
        <result column="major" property="major" />
        <result column="grade" property="grade" />
        <result column="tel" property="tel" />
        <result column="sign_up_time" property="signUpTime" />
    </resultMap>

</mapper>
