<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sums.dao.MessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sums.entity.Message">
        <id column="message_id" property="messageId" />
        <result column="message_title" property="messageTitle" />
        <result column="letter_time" property="letterTime" />
        <result column="letter_name" property="letterName" />
        <result column="state" property="state" />
        <result column="scope" property="scope" />
        <result column="me_id" property="meId" />
        <result column="message_text" property="messageText" />
    </resultMap>

    <sql id="messageField">
        message_id,message_title,letter_time,letter_name,`state`,`scope`,me_id,`message_text`
    </sql>

    <select id="getMessageById" resultMap="BaseResultMap">
        SELECT <include refid="messageField" /> FROM message where message_id=#{messageId}

    </select>

</mapper>
