<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sums.dao.RecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sums.entity.Record">
        <id column="record_id" property="recordId" />
        <result column="item_name" property="itemName" />
        <result column="lend_time" property="lendTime" />
        <result column="me_name" property="meName" />
        <result column="is_return" property="isReturn" />
        <result column="number" property="number" />
    </resultMap>

</mapper>
