<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/studentUnion/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >404</title>
</head>
<body>
<div style=" height: 533px; text-align: center;padding-top: 200px;">
    <h1>
        <i class="layui-icon layui-icon-404" style="line-height: 400px; font-size: 400px; color: #393D50;"></i>
    </h1>
    <p style="font-size: 40px; font-weight: 300; color: #999;">资源找不到</p>
</div>
</body>

</html>
